body {
    background-color: #36393f;
}

h1 {
    font-family: Verdana;
    color: white;
    text-align: center;
}

h3 {
    padding-left: 10px;
    padding-right: 10px
}

p {
    padding-left: 10px;
    padding-right: 10px
}

a {
    color: #a8fffc
}

div {
    background-color: #27292e;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #43474e;
    color: rgb(255, 255, 255);
    text-align: center;
}