body {
    margin-left: 40px;
    margin-right: 40px;
}

.topbar {
    background-color: #27292e;
    height:75px;
}

.topbar h1{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.topbar a{
    background-color: #27292e; 
    font-family: Verdana; 
    float: right; 
    color:aliceblue; 
    font-size: 20px; 
    margin-top:37.5px; 
    margin-right: 5px;
}

.divder {
    padding: 5px 5px;
}

.sample-event {
    font-family: Verdana;
    color: white; 
    background-color: #27292e; 
    padding-top:5px; 
    padding-bottom: 5px; 
    border-style: double;
}

#eventadd{
    display: block;
    color: white;
    background-color: #5897e0;
    height: 34px;
    width: 80px;
    font-family: Verdana;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    float: right;
}